.secureLocationDesc{
    position: relative;
    line-height: 55px;
    top: 22em;
    font-family: var(--raleway);
    left: 8em;
    font-size: 40px;
}

.accessibleText{
    position: relative;
    left: 3.3em;
}
