.secureLocationDesc{
    position: relative;
    line-height: 50px;
    top: 25em;
    font-family: var(--raleway);
    left: 8em;
    font-size: 40px;
}

.accessible{
    position: relative;
    left: 0px;
}
